@import 'variables';
@import 'breakpoints';

*{
    box-sizing: border-box;
    background: whitesmoke;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}


.navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: whitesmoke;
    opacity: .9;
    color: black !important;
    @include respond(medium){
        font-size: 1.4em;
    }
}


.country{
    position: relative;
    overflow: hidden;
    justify-content: center;
    img{
        width: 100%;
        transition: .4s;
        filter: contrast(70%);
        &:hover{
            transform: scale(1.05);
            filter: initial;
            cursor: pointer;
        };
        @include respond(large){
            height: 500px;
            object-fit: cover;
            object-position: 70% 50%
        };
    };
    h2{
        position: absolute;
        font-size: 3em;
        bottom: 10px;
        right: 10px;
        background-color: rgba(0,0,0,0);
        color: white;
    };
}

.discover{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    .btn{
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        font-size: 1.4em;
    }
}


.dropdown-menu.region{
    overflow-x: hidden;
    border: 0px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    background-color: whitesmoke !important;
    overflow-y: scroll;
    max-height: 400px;
    .row{
        width: fit-content;
        margin-top: 15px;
    };
    hr{
        color: black !important;
    };
    h4{
        width: 120px;
    };
    ul{
        list-style-type: none!important;
        padding: 15px !important;
    };
    @include respond(small){
        right: auto;
        left: 50%;
        -webkit-transform: translate(-27%, 0);
        -o-transform: translate(-27%, 0);
        transform: translate(-27%, 0);
        overflow: hidden;
        min-width: 600px;
    };
    .dropdown-item{
        transition: $transition;
        &:hover{
            transform: scale(1.05);
        }
    };
}

.home{
    padding-top: 60px;
    @include respond(small){
        padding-top: 70px
    };
    @include respond(large){
        display: flex;
    };
}
 

h2{
    margin: 15px;
}


.container.recommendations{
    overflow: hidden;
    img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    };
    .row{
        overflow: hidden;
        justify-content: center;
        img{
            width: 100%;
    }
    };
}


.dropdown-menu.travel,
.dropdown-menu.interest{
    
    padding: 10px;
    background-color: whitesmoke !important;
    border: 0px;
    transform: translateZ(0);
    ul{
        list-style-type: none!important;
        padding: 15px !important;
    };
    @include respond(small){
        overflow: hidden;
        min-width: 200px;
    };
    .dropdown-item{
        transition: $transition;
        &:hover{
            transform: scale(1.05)
        }
    }
    
}

.nav-item{
    padding-inline: 10px;
}


.java {
    text-align: center;
    p{
    font-size: 1.5em;
    padding: 15px;
    background-color: rgb(13, 13, 31);
    color: beige;
    font-weight: bold;
    width:fit-content;
    text-align: center;
    margin: auto;
    }
}

#save{
    width: 100px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}